/* define a page */

@page {
  size: A4; 
  margin: 1.1811in;
}

@page:first {
  size: A4; 
  margin: 1.1811in;
}

/* first page */
@page:first {
  @bottom-right {
    content: normal;
    margin: 0;
  }

  @bottom-left {
    content: normal;
    margin: 0;
  }
}

/* styles for the right hand spread
Bottom left we display the title of the book, bottom right the page using a CSS counter, top right the content of the current chapter */
@page:right{ 
   @bottom-left {
       margin: 10pt 0 30pt 0;
       border-top: .25pt solid #666;
       content: "Our Cats";
       font-size: 9pt;
       color: #333;
   }
   @bottom-right { 
       margin: 10pt 0 30pt 0;
       border-top: .25pt solid #666;
       content: counter(page);
       font-size: 9pt;
   }
   @top-right {
       content:  string(doctitle);
       margin: 30pt 0 10pt 0;
       font-size: 9pt;
       color: #333;
   }
}

/* styles for the left hand spread 
Bottom right book title, bottom left current page */
@page:left {

   @bottom-right {
       margin: 10pt 0 30pt 0;
       border-top: .25pt solid #666;
         content: "Our Cats";
       font-size: 9pt;
       color: #333;
   }
   @bottom-left { 
       margin: 10pt 0 30pt 0;
       border-top: .25pt solid #666;
       content: counter(page);
       font-size: 9pt;
   }
}


body {
    counter-reset: chapternum figurenum;
    font-family: "ET Bembo", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background: #fffff8;
    color: #112;
    font-size: 12pt;
}

body aside,.dp {
    display: none
}

article {
   page-break-before: always;
}

h1 {
  page-break-before: always;
}

h1, h2, h3, h4, h5, h6 {
   page-break-after: avoid;
   page-break-inside: avoid;
   font-weight: bold;
}

h1+p, h2+p, h3+p {
    page-break-before: avoid;
}

ul, img {
   page-break-inside: avoid;
}

table, figure {
  page-break-inside: avoid;
}

img {
  max-width: 100%;
}

a, a * {
    color:#930;
    text-decoration: none;
    font-weight: bolder;
}

a:after, a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
}

article a[href^="#"]:after {
   content: "";
}

.footnote {
  float: footnote;
}

.sr-print {
    position: absolute !important;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px 0 0;
    padding: 0;
    border: 0;
    overflow: hidden
}

/* https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/ */