body {
    background: #fffff8;
    color: #112;
    font-size: 12pt;
    margin: 0 5%;
}

body aside,.dp {
    display: none
}

.sr-print {
    position: absolute !important;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px 0 0;
    padding: 0;
    border: 0;
    overflow: hidden
}

a, a * {
    color:#930;
    text-decoration: none;
    font-weight: bold;
}

a:after, a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
}